{#
This is the base template used as the application layout which contains the
common elements and decorates all the other templates.
See https://symfony.com/doc/current/templates.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="view-transition" content="same-origin"/>
    <title>{% block title %}Symfony Demo application{% endblock %}</title>

    {#
    Those two blocks defines frontend entrypoint for CSS and JavaScript assets
    See https://symfony.com/doc/current/frontend.html
    #}
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body>
<div class="container body-container">
    {% block body %}{% endblock %}
</div>
</body>
</html>